/* Estilos Gerais */

#container {
    max-width: 70%;
}

#container h1 {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 1rem;
}

.row {
    margin: 0.3rem;
}

.form-label {
    font-weight: 500;
}

/* Formulário de Dados do Fornecedor  */

.form-dados {
    border: solid 1px black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1rem;
}

.form-titulo {
    background-color: #0085B2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-titulo h2 {
    color: white;
    font-size: 20px;
    padding: 0.5rem;
    margin: 0;
}

/* Remove as setas dos campos tipo number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Formulário de Produtos */

#produto-coluna {
    display: flex;
    align-items: center;
}

#produto-coluna img {
    width: 100px;
}

#deletar-coluna {
    display: flex;
    align-items: center;
}

#deletar-coluna img {
    width: 30px;
}

#deletar-coluna :hover{
    cursor: pointer;
    filter: brightness(80%);
    transition: 400ms;
}

#produto-container {
    position: relative;
    border: solid 1px black;
    border-radius: 8px;
    padding: 0.5rem;
}

.form-dados button {
    margin: 1rem 1rem 0 0;
    width: 100%;
}

#produto-contador {
    width: auto;
    left: 10px;
    top: -13px;
    background-color: white;
    padding: 0;
    position: absolute;
}